*{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    box-sizing: border-box;
}
article, aside,details,figcaption, figure,
footer, header, hgroup, menu, nav, section,main{
    display:block;
}

html,
body{
    padding:0;
    margin:auto 0;
    color:#000000;
    background-color:white;
}
main{
    padding-top: 50px;
}
header{
    text-align:center;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1000;
}
header a{
    color:white;
    text-decoration:none;
}

footer{
    padding:1rem;
    background-color:rgb(212, 196, 176);
    text-align: center;
}
.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    height:50vh;
}
.cover {
    width: 20rem;
}
.container h1{
    color: #7abcff; /* Old browsers */
    color: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    color: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */   
    font-size: 2em;
    margin:0;
    text-align: center;
}
.card{
    display: flex;
    flex-direction: column;
    border-radius:1rem;
    box-shadow:3px 3px 5px #454545;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 450px;
}
form{
    display: flex;
    justify-content: center;
    align-items:center;
    padding:2rem;
}
.page{
    padding:1rem;
}
.form-group label{
    display:block;
    margin-bottom:0.5rem;
}
.form-group{
    margin-bottom:1rem;
    margin-left: 3.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.form-group.has-error label{
    color: tomato;
}
.form-group.has-error .form-control{
    border-color:tomato;
}
.validation-error{
    font-size:0.85rem;
    color:tomato;
}
.form-control{
    display:block;
    width: 300px;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #999999;
}

.btn{
    display:block;
    cursor: pointer;
    height: 2.3rem;
    width: 318px; 
    border:none;  
    color:white;
    font-size:20px; 
}
.btn:hover{
    opacity: 0.8;
}

/*
NAVBAR
*/
@media only screen and (max-width: 525px){
    .topnav a{
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1em;
        border-radius: 4px;
    }
}
.zone {
    color:#FFF;
    font-size:1.7em;
    transition: all 0.3s linear;
}
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
  .topnav-right{
      float: right;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.6em;
    border-radius: 4px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
      background-color: white;
      color:#56e870;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #343847;
    color: white;
  }
  
.green{
    background: #56B870; /* Old browsers */
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
}
.blue{
    background: rgb(164,184,216); /* Old browsers */
    background: -webkit-linear-gradient(top, #7abcff 0%,rgb(164,184,216) 44%,rgb(164,184,216) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, rgb(164,184,216) 0%,rgb(164,184,216) 44%,rgb(164,184,216) 100%); /* W3C */   
}





.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-gap: 20px;
}
.box {
    margin: 20px;
    cursor: pointer;
    background-color: #444;
    display:block;
    width: 90%;
    height:380px;
    border-radius: 5px;
}

.box:hover {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);
    opacity: 0.9;
}
.book-item p{
    margin:20px;
    color:white;
    text-decoration:none;
}
.book-item a{
    text-decoration:none;
}
.book-item p:hover{
    color:#000000;
}
.pagination{
    display:flex;
    align-items:center;
    justify-content: center;
    padding-top:1rem;
    padding-bottom:1rem;
}
.pagination a{
    display:block;
    padding:1rem;
    color: #000000;
    background-color: white;
    text-decoration: none;
    border-radius:4px;
}
.pagination a.active
{
    background: rgb(164,184,216); /* Old browsers */
    background: -webkit-linear-gradient(top, #7abcff 0%,rgb(164,184,216) 44%,rgb(164,184,216) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, rgb(164,184,216) 0%,rgb(164,184,216) 44%,rgb(164,184,216) 100%); /* W3C */ 
    color:white; 
 }
.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.alert{
    padding:8px 15px;
    margin-bottom:20px;
    border-radius:5px;
    position: fixed;
}
.alert.alert-success{
    background:#90d0a0;
    color:#134c13;
    border:1px solid #134c13;
    margin-top:1rem;
    margin-left:0.6rem;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
/*
TODO: Save button
*/


/* MoreInfo */
.more-info-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    column-gap:50px;
    margin:20px;
}
@media screen and (max-width:850px) {
    .more-info-container{
        flex-wrap: wrap;
    }
    
}
.more-info-box {
    cursor: pointer;
    background-color: #444;
    display:block;
    margin-top:40px;
    margin-left: 0.5rem;
    width: 300px;
    height:380px;
    border-radius: 5px;
    border-right:1px solid black ;
    box-shadow:3px 3px 5px #454545;

}
.flex-info{
    display:flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 5px;
}
.flex-info h1{
    font-size: 60px;
    padding-left: 0.3rem;
    border-bottom:2px solid #444;
}
.flex-info h2{
    font-size: 45px;
    padding-left: 0.3rem;
    border-bottom:2px solid #444;
}
.flex-image{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:column;
}
.overview{
    padding-top: 1rem;
}
.details{
    margin-left: 40px;
}
.details ul{
    padding-top: 1rem;
}
.details ul li{
    padding:0.5rem;
    font-size: 20px;
}
