*{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    box-sizing: border-box;
}
article, aside,details,figcaption, figure,
footer, header, hgroup, menu, nav, section,main{
    display:block;
}

html,
body{
    padding:0;
    margin:auto 0;
    color:#ebebeb;
    background-color:da
}
main{
    padding-top: 100px;
}
header{
    text-align:center;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1000;
}
header a{
    color:white;
    text-decoration:none;
}

footer{
    padding:1rem;
    background-color:rgb(212, 196, 176);
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: block;
    border-radius:1rem;
    box-shadow:3px 3px 5px #454545;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 450px;
}
.page{
    padding:1rem;
}
.page-upload .card{
    margin:0 auto;
    width:500px;
}
.form-group label{
    display:block;
    margin-bottom:0.5rem;
}
.form-group{
    margin-bottom:1rem;
    margin-left: 3.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.form-group.has-error label{
    color: tomato;
}
.form-group.has-error .form-control{
    border-color:tomato;
}
.validation-error{
    font-size:0.85rem;
    color:tomato;
}
.form-control{
    display:block;
    width: 300px;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #999999;
}

.btn{
    cursor: pointer;
    display:inline-block;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-left:3.5rem;
    font-size:1rem;
    text-decoration: none;
    color: white;
}
.btn:hover{
    opacity: 0.8;
}

/*
NAVBAR
*/
@media only screen and (max-width: 525px){
    .topnav a{
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1em;
        border-radius: 4px;
    }
}
.zone {
    color:#FFF;
    font-size:1.7em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
  .topnav-right{
      float: right;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.6em;
    border-radius: 4px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
      background-color: white;
      color:#56B870;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #98a2cc;
    color: white;
  }
  
.green{
    background: #56B870; /* Old browsers */
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
}
.blue{
    background: #7abcff; /* Old browsers */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */   
}



/*
TODO: Layout of the page
*/