header{
    padding:1rem;
    background-color:rgb(212, 196, 176);
    text-align:center;
}
footer{
    padding:1rem;
    background-color:rgb(212, 196, 176);
    text-align: center;
}
.card{
    display: block;
    background-color:rgb(163, 235, 238);
    border-radius:1rem;
    box-shadow:3px 3px 5px #454545;
    padding:1rem;
}
.page{
    padding:1rem;
}
.page-upload .card{
    margin:0 auto;
    width:500px;
}
.form-group label{
    display:block;
    margin-bottom:0.5rem;
}
.form-group{
    margin-bottom:1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.form-control{
    display:block;
    width: 300px;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #999999;
}

.btn{
    display:inline-block;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: #65d487;
    
}

